.formdata {
    width: 20%;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 1px solid greenyellow;
    margin-top: 30px;
    padding : 10px 10px 10px 10px;
    background-color: aliceblue;
  }
  
  .loginimg{
    width: 100px;
    height: 50px;
    margin: auto;
    margin-top: 60px;
    margin-left: 46%;
    border-radius: 50px;
    margin-bottom: -20px;
  }
  .homeitems{
  
    width: 500px;
    margin: auto;
    padding: 20px;
  }
  
  .table{
    width: 80%;
    margin: auto;
    margin-top: 30px;
    display: grid;
    height: 600px;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    grid-template-rows: auto;
  }
  
  
  
  .item-price {
    width: 60px;
    padding: 10px;
    background-color: rgb(107, 212, 107);
    border-radius: 10px;
    color: inherit;
  }
  
  .item-rating {
    width: 60px;
    padding: 8px;
    background-color: pink;
    border-radius: 10px;
  }
  .pagination{
    margin-top: 80px;
    margin-left: 50%;
  }
  
  .individualitem{
  
width: 40%;
display: flex;
justify-content: space-between;
/* margin-left: 15px; */
margin-top:  100px;
  }